<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WPattern Frameworks RESTEasy and AngularJS</title>

    <!-- ANGULARJS -->
    <script type="text/javascript" src="angular.js"></script>

    <!-- USER CSS -->
    <link rel="stylesheet" href="user.css">

    <!-- USER CONTROLLER -->
    <script type="text/javascript" src="user.js"></script>
  </head>
  <body>
    <div ng-app="resteasy">
      <div ng-controller="UserCtrl">
        <form ng-show="showForm" ng-submit="saveUser(user)">
          <div>
      			<label>ID:</label>
      			<input type="text" ng-model="user.userBean.id" disabled />
          </div>
          <div>
      			<label>Name:</label>
      			<input type="text" ng-model="user.userBean.name" />
          </div>
          <div>
      			<label>Age:</label>
      			<input type="text" ng-model="user.userBean.age" />
          </div>
          <div>
      			<label>Email:</label>
      			<input type="text" ng-model="user.userBean.email" />
          </div>

          <button type="submit">Save</button>
          <button ng-click="cancelUser()">Cancel</button>
        </form>

        <div>
          <button ng-click="newUser()" ng-show="!showForm">Add</button>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users">
                <td>{{ user.userBean.id }}</td>
                <td>{{ user.userBean.name }}</td>
                <td>{{ user.userBean.age }}</td>
                <td>{{ user.userBean.email }}</td>
                <td><button ng-click="deleteUser(user)">Delete</button></td>
                <td><button ng-click="updateUser(user)">Update</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
